body {
    background-color: rgb(153, 40, 40); /* for non-gradient-supporting browsers*/
    background-image: linear-gradient(to bottom right, rgb(29, 16, 16), rgb(150, 36, 36));
}

.submission form {
    border-style: groove;
    text-align: center;
    font-weight: 700;
    background-color:rgb(43, 35, 92);
    border-radius:25px;
    width: 30%;
    height: 175px;
    margin: auto;
    padding-top: 1em;
}

.submission label {
    color:#fff;
}

h1 {
    font-size: 4em;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 1px 2px 0.5 grey;
    color: #fff;
}