h1 {
    text-align: center;
    font-weight: 800;

}


table {
    border: 2px solid black;
    width:80%;
    margin: auto;
    border-collapse: collapse;

}

table th {
    background-color: gold;
    color: black;
}

table td {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}