body {
    margin: 0px;
}

h1 {
    text-align: center;
    font-weight: 800;
    
}

.navbar {
    overflow: hidden;
    background-color: rgb(10, 118, 241);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover {
    background:rgb(30, 81, 139);
    color:rgb(10, 10, 10);
    
}